.main-bg {
  background-image: url("../00-surveytester/assets/ship.jpg");
  height: 100vh;
  text-align: center;
}

.login-form {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 380px;
  margin-left: 160px;
  height: 100vh;
  width: 100%;
  padding-top: 40px;
  position: relative;
}

.login-form a,
.MuiFormControlLabel-root {
  color: #fff;
}
.MuiFormControlLabel-root {
  vertical-align: top !important;
  display: inline-block !important;
}
.MuiCheckbox-root {
  color: #fff !important;
}
.MuiInputLabel-formControl {
  top: -5px !important;
}

.MuiInputBase-input {
  background-color: #fff !important;
  border-radius: 6px;
  padding: 6px 20px !important;
  height: auto !important;
  line-height: 32px !important;
}
.MuiFormLabel-root {
  font-size: 14px !important;
}

.btn {
  background: #2b8ed5 !important;
  color: #fff !important;
  padding: 10px 20px !important;
  text-transform: unset !important;
}

.btn-blue,
.btn-green {
  border-radius: 5px !important;
  font-size: 15pt !important;
  border: 2px solid #fff !important;
  font-weight: 400 !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.btn-green {
  background-color: #7bbd00 !important;
}

.btn-blue {
  background: #2b8ed5 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.freetrail,
.freetrail .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
  position: relative;
  height: 100vh;
}
.freetrail .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 50%;
  margin-right: auto;
}
.freetrailform {
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
}
button.freetileclose {
  margin-left: auto;
  display: inherit;
}
svg.MuiSvgIcon-root {
  width: 40px;
  height: auto;

  & path {
    color: #fff;
  }
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.freetrailsubmit {
  background: #7bbd00;
  color: #fff;
  font-size: 20px;
}
ul.loginformterms {
  list-style: none;
  padding: 8px;
  margin: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  bottom: 0;
  & li {
    display: inline-block;
    margin-right: 15px;
  }
  & li:last-child {
    margin-right: 0;
  }
  a {
    font-size: 12px;
  }
}
.MuiButton-root {
  text-transform: none !important;
}
.card-img {
  width: 230px;
}

span.pipe {
  color: #fff;
  margin: 0 8px;
}
button#signin {
  margin-bottom: 15px;
}
.buttons {
  margin-top: 17px;
}
.MuiIconButton-label svg.MuiSvgIcon-root {
  width: 20px;
  height: auto;
}
.login-form .MuiGrid-root.MuiGrid-item {
  color: #fff;
  margin: 18px 0;
}

.color-white {
  color: #fff;
}
.logo-img {
  width: 180px;
  margin-bottom: 30px;
}
svg.MuiSvgIcon-root path {
  color: #fff !important;
}

.PrivateSwitchBase-root-5 {
  padding: 0 !important;
  margin-right: 10px !important;
}

a.moreinfo {
  color: white;
  text-decoration: none;
  border: 1px solid #888888;
  border-radius: 3px;
  padding: 0 4px;
}
a.moreinfo:hover {
  background-color: #7bbd00;
}
